.item__trading{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #ccc;
    border-radius: .4rem;
    padding: .4rem;
    background-color: #FBFDFF;
}

.item__trading-price{
    color: gray;
}

.item__trading-info{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.item__trading-display{
    font-size: 1.7rem;
    font-weight: 700;
}

.item__trading-img{
    height: 1.7rem;
}

.item__trading-btngroup{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.item__trading-btnbuy {
  border-radius: .4rem;
  background-color:white;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.7rem;
  color: black;
}

.item__trading-btnbuy:visited {
  text-decoration: none;
  color: black;
}

.item__trading-btnoffer{
    all: unset;
    border: 1px solid #3d81db;
    border-radius: .4rem;
    background-color: #3d81db;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.7rem;
}
.item__trading-success {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  color: green;
}

.page__register{
  border-radius: .2rem;
  // background-color: #f2f2f2;
  padding: 2rem;
}

.page__register-title{
  padding-bottom: 2rem;
}

.page__register__form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page__register__form-text{
  width: 100%;
  padding: 1rem .5rem;
  margin: .5rem 0;
  display: inline-block;
  border: 1px solid #333;
  border-radius: .2rem;
  box-sizing: border-box;
}

.page__register__form-btn{
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
}
.page__register__form-btn:hover{
  opacity: .8;
}

.page__register__form-join{
  text-align: center;
}