.page__home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .65rem;
  
  padding: 1rem;
}

$orange: rgba(238, 118, 82, 1);
$purple: rgba(231, 60, 126, 1);
$blue: rgba(35, 165, 213, 1);
$green: rgba(35, 213, 171, 1);
$white: rgba(255, 255, 255, 1);

.page__home-btn {
  width: max-content;
  padding: .5rem;

  font-size: 1.1rem;

  background-color: #7B61FF;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: -1;
  animation: boxshadow linear 20s infinite;
}


@keyframes boxshadow {
  0% {
		box-shadow: 0px 0px 5rem 1rem $green;
	}
  13% {
		box-shadow: 0px 0px 5rem 0rem $white;
	}
	25% {
		box-shadow: 0px 0px 5rem 1rem $orange;
	}
  38% {
		box-shadow: 0px 0px 5rem 0rem $white;
	}
	50% {
		box-shadow: 0px 0px 5rem 1rem $purple;
	}
  63% {
		box-shadow: 0px 0px 5rem 0rem $white;
	}
	75% {
		box-shadow: 0px 0px 5rem 1rem $blue;
	}
  88% {
		box-shadow: 0px 0px 5rem 0rem $white;
	}
	100% {
		box-shadow: 0px 0px 5rem 1rem $green;
	}
}